.topText {
  font-size: 1.4em;
  margin: 1em;
  text-align: center;
  font-weight: bold;
  text-decoration: underline black;
}

@media (min-aspect-ratio: 16/10) {
  .tierlistContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tierlistRankContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tierlistRank {
    justify-content: center;
    background-color: rgb(66, 66, 66);
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
    max-width: 1100px;
  }

  .picBox {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .candidatesContainer {
    width: 7em;
    height: 6em;
    background-size: 100% 100%;
    cursor: grabbing;
    display: flex;
  }
  .candidatesContainer1 {
    width: 7em;
    height: 6em;
    background-size: 100% 100%;
    cursor: grabbing;
    display: flex;
  }

  .candidates {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
  }
  .rankHandler {
    max-width: 1200px;
    background-color: rgba(75, 75, 75, 0.671);
    padding: 1px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .candidatesContainer img {
    width: 7em;
    height: 6em;
    vertical-align: top;
  }
  .rankHandlerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .setting {
    display: flex;
  }

  .rank {
    flex-direction: row;
    display: flex;
    border: 1px solid black;
  }
  .header {
    border-left: 1px solid black;
    border-right: 2px solid black;
    align-items: center;
    display: flex;
    min-height: 6em;
  }
  .headerText {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-weight: bold;
    font-size: 1.5em;
    align-items: center;
    text-align: center;
    width: 6em;
    margin: 0;
    border: none;
    outline: none;
  }
  .sceenshot {
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-weight: bold;
    padding: 0.5em;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
  }
  .sceenshot:hover {
    color: rgb(151, 151, 151);
  }
  .IOContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
  }

  .inputAddRowButton {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 0;
    padding: 0.2em;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(48, 34, 237, 0.692);
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(1, 1, 1, 0.235);
  }
  .inputAddRowButton:hover {
    background-image: url("../assets/QRcode.jpg");
    background-size: 100% 100%;
  }

  .inputAddRowText {
    text-indent: 6px;
    border: 2px solid black;
    padding: 0.2em;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px rgba(1, 1, 1, 0.235);
  }
  .inputContainer {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .setting {
    min-height: 6em;
    background-color: rgb(212, 0, 5);
  }

  .settingIcon {
    display: flex;
    align-items: center;
  }
  .settingPic {
    cursor: pointer;
    width: 35px;
    margin-left: 6px;
  }
  .settingPic:hover {
    opacity: 60%;
    transition: 0.5s ease;
    transform: scale(1.1);
  }
  .settingArrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .arrowUpDown {
    width: 25px;
    margin: 0 10px 0 10px;
  }
  .arrowContainer {
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrowContainer:hover img {
    opacity: 40%;
    transition: 0.5s ease;
    transform: scale(1.2);
  }
  .settingPage {
    position: fixed;
    display: flex;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(43, 43, 43, 0.833);
    justify-content: center;
  }
  .settingDisablePic {
    cursor: pointer;
  }
  .settingPage {
    display: flex;
  }
  .settingOptions {
    margin: 2em;
    background-color: rgba(163, 0, 0, 0.813);
    padding: 2em;
    width: 800px;
    display: flex;
    flex-direction: column;
    height: 500px;
    border-radius: 20px;
    border: 6px solid rgba(0, 0, 0, 0.315);
  }
  .settingDisableButton {
    display: flex;
    justify-content: flex-end;
  }
  .settingDisablePic {
    width: 50px;
  }
  .settingDisablePic:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
    opacity: 50%;
  }

  .settingText {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1.5em;
  }
  .settingAltInput {
    resize: none;
    height: 150px;
    border: 2px solid black;
    border-radius: 8px;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
  }
  .settingOptionsButton {
    display: flex;
    justify-content: start;
    margin: 1em;
    flex: 1;
  }

  .settingDelete {
    display: flex;
    font-size: 2em;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.212);
    padding: 5px;
    border-radius: 10px;
    height: 50px;
  }
  .settingDelete:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
    opacity: 70%;
  }
  .settingColor {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
  }
  .settingColor::-webkit-color-swatch {
    border: none;
    padding: 0;
  }
  .settingColor::-webkit-color-swatch-wrapper {
    border: none;
    padding: 0;
  }
}
.inputMultiContainer {
  margin-left: 15px;
  margin-right: 15px;
}
.inputLoadButton {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 0;
  padding: 0.2em;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(255, 86, 8, 0.692);
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(1, 1, 1, 0.235);
}
.inputLoadButton:hover {
  background-image: url("../assets/QRcode.jpg");
  background-size: 100% 100%;
}
.serverStatus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.serverStatusText {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
.resetButton {
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
}
.resetButton:hover {
  background-image: url("../assets/QRcode.jpg");
  background-size: 100% 100%;
}
/* colorbucket */
.colorBucket {
  width: 50px;
}

.colorContainer {
  background-color: rgba(0, 0, 0, 0.174);
  display: flex;
  height: fit-content;
  padding: 4px;
  border-radius: 15px;
  margin-left: 10px;
}

.idCountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.3em;
  font-weight: bold;
}
.idCountText {
  border: 2px solid black;
  border-radius: 6px;
  padding: 2px;
  font-size: 1em;
}

.uploaderContainer {
  background-image: url("../../assets/transparentgrid.jpg");
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  margin-left: 20px;
  height: 4em;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.uploader {
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
}
.createContainer {
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  flex-direction: column;
}

.createNameContainer {
  margin-top: 10px;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1em;
}
.createNameBox {
  background-color: rgba(255, 0, 0, 0.573);
  padding: 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createInputName {
  border: none;
  text-indent: 10px;
  width: 25em;
  height: 1.4em;
  font-weight: bold;
  font-size: 1.7em;
  border-radius: 10px;
}

.createDescContainer {
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  font-size: 1em;
}
.createDescBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(80, 80, 80, 0.34);
  padding: 8px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
}
.createInputDesc {
  resize: none;
  height: 80px;
  border: 2px solid black;
  border-radius: 8px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 10px;
  font-size: 1.4em;
  font-weight: bold;
}



@media (max-aspect-ratio: 16/11) {
}
